{% extends "base.html" %}
{% block table_rows %}
{% for sites_type, group in grouped_sites.items() %}

<tr><th colspan="2">{{ sites_type|upper }}</th></tr>

{% for site in group %}
<tr class="site">
<td>
  <a href="{{ site['urls'][0]['url'] }}" target="_blank">
   <img src="/img/b/{{ site['button'] }}" alt="{{ site['name'] }}">
  </a>
</td>

<td>
  {{ site['about'] }}
  {% if site['urls'] | length != 1 %}
  <br>
  <small>Доступен в: {% for url in site['urls'][1:] %}<a href="{{ url['url'] }}" target="_blank">{{ url['type'] }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</small>
  {% endif %}
</td>
</tr>
{% endfor %}

{% endfor %}
{% endblock %}